@charset "utf-8";
body, ul, ol, dl, li, dd, h1, h2, h3, h4, h5, h6, p, input { margin: 0 }
h1, h2, h3, h4, h5, h6,option { font-size: 100%; font-weight: normal; font-family: "opposans"; }
img { border: none }
input, button, textarea, select {
*font-size: 100%; border: none; }
body { background: rgb(43, 47, 49); color: #fff; font: 14px/24px opposans, SimSun, Arial; }
ul, ol { list-style: none; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
a:link, a:visited { color: #ffffff; text-decoration: none; }
a:hover { color: #fff; }
a:active { color: #ffff; }
.fl { float: left }
.fr { float: right }
.clear { zoom: 1 }
.clear:after { content: ""; display: block; height: 0; visibility: visible; clear: both }
.hide { display: none }
.show { display: block }
.boder_tl { border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_tl td { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_bl { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_bl td { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_tr { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_tr td { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_br { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_br td { border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
.txt_center { text-align: center; }
.boder_ltr_trborder { border: 1px solid #ccc; border-bottom: none; }
.boder_ltr_trborder tr { border-bottom: 1px solid #ccc; }